.sopra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-top: 150;
    margin-right: 50px;
}

.div-immagine {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome-sito {
    font-family: sans-serif;
    text-align: center;
}

.foto {
    width: 150px;
    height: 150px;
}

.tutto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 125px;
}

.sotto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-top: 150;
}